@model Cinema.Models.Spettacolo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spettacolo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Id_sala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Id_film)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_spettacolo">Edit</a> |
    <a asp-action="Index">Torna alla lista</a>
</div>
