@model IEnumerable<Cinema.Models.Spettacolo>

@{
    ViewData["Title"] = "Spettacolo";
}

<h1>Spettacoli</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Sala
            </th>
            <th>
                Film
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dataa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Id_sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.titolo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_spettacolo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_spettacolo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_spettacolo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
